# ========================
# Backend
# ========================
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json

# ========================
# Frontend
# ========================
node_modules/
.next/
dist/
.env
.env.local